body {
		background-color: Silver;
		background-size: cover;
		font-size: 15px;
		margin: 10px;
}

nav#tabs {
		background-color: Silver;
		text-align:center;
		font-family: "Playfair Display", cursive;
		font-size: 20px;
}

nav#tabs ul{
		list-style: none;
		padding:0;
		overflow: hidden;
}

nav#tabs ul li{
		float: left;
		margin-left:220px;
		display:inline;
}

nav#tabs ul li a {
		display: inline-block;
		padding: 20px;
		color: maroon;
		text-decoration:none;
		background-color: Silver;
		color: white;
		font-weight: bold;
		text-decoration: none;
		text-align:center;
}

nav#tabs ul li a:hover{
		color: maroon;
}

img{
		width: 25%;
		height: 25%; 
		display: block;
		margin-right: auto;
		margin-left: auto;

}

video {
		width: auto;
		height: 475px;	
		display:inline;
}

h1 {
		font-family: "Playfair Display", cursive;
		text-align: center;
		font-weight: bold;
}

#titles{
		font-size:40px;
		background-color:Silver;
}

h2, h3 {
		font-family: "CourierNew", sans-serif;
}

